body {
  background: url("images/City.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.app {
  width: 500px;
  border: none;
  background-color: #e0e0ec;
  opacity: 0.8;
  height: 600px;
  border-radius: 20px;
  display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1,
h2 {
  text-align: center;
}

button {
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  border-radius: 5px;
  margin-bottom: 5px;

  display: block;
  margin: 0 auto;
}

#increment-btn {
  background-color: red;
  margin-bottom: 20px;
}

#save-btn {
  background-color: darkgreen;
  margin-bottom: 50px;
}

#save-el {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 20px;
}
